<div id="sidebar" class="nav-collapse collapse">
<ul class="sidebar-menu">
<li class="sub-menu active">
<a class="" href="{{NeuralRutasApp.RutaURL}}Index/MostrarInicio">
<i class="icon-windows"></i>
<span>Inicio</span>
</a>
</li>
<li class="sub-menu">
<a href="javascript:;" class="">
<i class="icon-group"></i>
<span>Clientes</span>
<span class="arrow"></span>
</a>
<ul class="sub">
    <li><a class="" href="{{NeuralRutasApp.RutaURL}}Cliente/MostrarClientes"> Ver Clientes</a></li>
    <li><a class="" href="{{NeuralRutasApp.RutaURL}}Cliente/MostrarContactos"> Ver Contactos</a></li>
</ul>

</li>
<li class="sub-menu">
<a href="javascript:;" class="">
<i class="icon-shopping-cart"></i>
<span>Ventas</span>
<span class="arrow"></span>
</a>
<ul class="sub">
<li><a class="" href="{{NeuralRutasApp.RutaURL}}Venta"> Nueva</a></li>
<li><a class="" href="{{NeuralRutasApp.RutaURL}}Venta"> Consultar</a></li>               
<li><a class="" href="{{NeuralRutasApp.RutaURL}}Venta"> Abonos</a></li>
</ul>
</li>

<li class="sub-menu">
<a href="javascript:;" class="">
<i class="icon-book"></i>
<span>Compras</span>
<span class="arrow"></span>
</a>
<ul class="sub">
    <li><a class="" href="{{NeuralRutasApp.RutaURL}}Compra"> Registrar</a></li>
    <li><a class="" href="{{NeuralRutasApp.RutaURL}}Compra"> Ver Productos</a></li>
</ul>

</li>

<li class="sub-menu">
<a href="javascript:;" class="">
<i class="icon-truck"></i>
<span>Proveedores</span>
<span class="arrow"></span>
</a>
<ul class="sub">
<li><a class="" href="{{NeuralRutasApp.RutaURL}}Proveedor"> Ver Proveedores</a></li>
<li><a class="" href="{{NeuralRutasApp.RutaURL}}Proveedor"> Contactos</a></li>
</ul>
</li>


<li class="sub-menu">
<a href="javascript:;" class="">
<i class="icon-signal"></i>
<span>Reportes</span>
<span class="arrow"></span>
</a>
<ul class="sub">
<li><a class="" href="{{NeuralRutasApp.RutaURL}}Reportes">Ventas</a></li>
<li><a class="" href="{{NeuralRutasApp.RutaURL}}Reportes">Existencias</a></li>
<li><a class="" href="{{NeuralRutasApp.RutaURL}}Reportes">Compras</a></li>
</ul>
</li>
</ul>
</div>

