<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
   <meta charset="utf8" />
   <title>JIGASOFT</title>
   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta content="" name="description" />
   <meta content="Mosaddek" name="author" />
    <link rel="shortcut icon" type="image/x-icon" href="{{NeuralRutasApp.RutaPublico}}img/logo.png"/>
    <link href="{{NeuralRutasApp.RutaCss}}assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}bootstrap-fileupload.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}style.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}style-responsive.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}style-default.css" rel="stylesheet" id="style_color" />
    <link href="{{NeuralRutasApp.RutaCss}}assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}jquery.fancybox.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/uniform/css/uniform.default.css" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}uniform.default.css" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/chosen-bootstrap/chosen/chosen.css" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/jquery-tags-input/jquery.tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/clockface/css/clockface.css" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/bootstrap-colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link href="{{NeuralRutasApp.RutaCss}}assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/uniform/css/uniform.default.css" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/bootstrap-timepicker/compiled/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="{{NeuralRutasApp.RutaCss}}assets/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css" />
    <link href="{{NeuralRutasApp.RutaCss}}assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    
	  <link href="{{NeuralRutasApp.RutaCss}}assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}style.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}style-responsive.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}style-default.css" rel="stylesheet" id="style_color" />


    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/chosen-bootstrap/chosen/chosen.css" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/jquery-tags-input/jquery.tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/clockface/css/clockface.css" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/bootstrap-timepicker/compiled/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/bootstrap-colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" href="{{NeuralRutasApp.RutaCss}}assets/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css" />
    <link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}assets/bootstrap-daterangepicker/daterangepicker.css" />

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    
      <link href="{{NeuralRutasApp.RutaCss}}assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}style.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}style-responsive.css" rel="stylesheet" />
    <link href="{{NeuralRutasApp.RutaCss}}style-default.css" rel="stylesheet" id="style_color" />


    
    
    
    
    
    
    
    
    
    
    
    
	<meta name = "viewport" content = "initial-scale = 1, user-scalable = no" />
		<style>
			canvas{
			}
		</style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
   <!-- BEGIN HEADER -->
   <div id="header" class="navbar navbar-inverse navbar-fixed-top">
    {% include'General/Partes/Encabezado.html' %}
   </div>
   
   <!-- END HEADER -->
   <!-- BEGIN CONTAINER -->
   <div id="container" class="row-fluid">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar-scroll">
        {% include 'General/Partes/Menu_Izquierdo.html' %}
   </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE -->  
      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">

                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    {% block Contenedor %}
                    
                    {% endblock Contenedor %}
                   <!-- END PAGE TITLE & BREADCRUMB-->
              
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->

            <!-- END PAGE CONTENT-->         
         </div>
         <!-- END PAGE CONTAINER-->
      </div>
      <!-- END PAGE -->  
   </div>
   <!-- END CONTAINER -->

   <!-- BEGIN FOOTER -->
   <div id="footer">
       2016 &copy; Sistema De Apoyo De La Administración Del Padrón Del Seguro Popular Del Estado De Guerrero.
   </div>
   <!-- END FOOTER -->

   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script src="{{NeuralRutasApp.RutaJs}}jquery-1.8.3.min.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}jquery.nicescroll.js" type="text/javascript"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/jquery-slimscroll/jquery-ui-1.9.2.custom.min.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}assets/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}assets/bootstrap/js/bootstrap.min.js"></script>
   <!-- ie8 fixes -->
   <!--[if lt IE 9]>
   <script src="js/excanvas.js"></script>
   <script src="js/respond.js"></script>
   <![endif]-->
   <script src="{{NeuralRutasApp.RutaJs}}assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js" type="text/javascript"></script>
   <script src="{{NeuralRutasApp.RutaJs}}jquery.sparkline.js" type="text/javascript"></script>
   <script src="{{NeuralRutasApp.RutaJs}}assets/chart-master/Chart.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}jquery.scrollTo.min.js"></script>
   <!--common script for all pages-->
   <script src="{{NeuralRutasApp.RutaJs}}common-scripts.js"></script>
   <!--script for this page only-->
   <script src="{{NeuralRutasApp.RutaJs}}easy-pie-chart.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}sparkline-chart.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}home-page-calender.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}home-chartjs.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

   <!-- END JAVASCRIPTS -->
   
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/chosen-bootstrap/chosen/chosen.jquery.min.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/uniform/jquery.uniform.min.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/clockface/js/clockface.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/jquery-tags-input/jquery.tagsinput.min.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/bootstrap-daterangepicker/date.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/bootstrap-daterangepicker/daterangepicker.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}assets/fancybox/source/jquery.fancybox.pack.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}jquery.scrollTo.min.js"></script>   
    <script src="{{NeuralRutasApp.RutaJs}}form-wizard.js"></script>
    
       <script src="{{NeuralRutasApp.RutaJs}}jquery.nicescroll.js" type="text/javascript"></script>
   <script src="{{NeuralRutasApp.RutaJs}}assets/bootstrap/js/bootstrap.min.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}assets/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}jquery.blockui.js"></script>
   
      
   
   
    <script src="{{NeuralRutasApp.RutaJs}}Chart.js"></script>

   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/bootstrap/js/bootstrap-fileupload.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}bootstrap-fileupload.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}jQuery.dualListBox-1.3.js" language="javascript" type="text/javascript"></script>

<script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/bootstrap-daterangepicker/date.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/bootstrap-daterangepicker/daterangepicker.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

   <script src="{{NeuralRutasApp.RutaJs}}jquery.bootstrap.wizard.min.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}jquery.blockui.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}form-wizard.js"></script>
   
   
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/chosen-bootstrap/chosen/chosen.jquery.min.js"></script>
   <script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}assets/uniform/jquery.uniform.min.js"></script>
   <!--script for this page-->
   <script src="{{NeuralRutasApp.RutaJs}}form-component.js"></script>
  <!-- END JAVASCRIPTS -->
    <script src="{{NeuralRutasApp.RutaJs}}bootstrap.min.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}jquery.flot.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}jquery.flot.resize.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}jquery.flot.pie.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}jquery.flot.stack.js"></script>
   <script src="{{NeuralRutasApp.RutaJs}}jquery.flot.crosshair.js"></script>
  <script src="{{NeuralRutasApp.RutaJs}}charts/highcharts.js"></script>
<script src="{{NeuralRutasApp.RutaJs}}charts/highcharts-3d.js"></script>
<script src="{{NeuralRutasApp.RutaJs}}charts/modules/exporting.js"></script>
  
  

   <script language="javascript" type="text/javascript">

       $(function() {

           $.configureBoxes();

       });

   </script>
   
   <script>
       $(function () {
           $(" input[type=radio], input[type=checkbox]").uniform();
       });



   </script>
   
   
</body>
<!-- END BODY -->
</html>