{% include 'General/Base.html' %}
{% block Contenido %}


<script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}bootstrap-inputmask.min.js"></script>
<style>
    input {
        text-transform: capitalize;
    }
    h4{
    	text-transform: capitalize;
    }
</style>
<div class="container-fluid">
<div class="row-fluid">
<div class="span12">




<div class="widget purple">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Registrar nuevo contacto </h4>
                    <span class="tools">
                    <a href="javascript:;" class="icon-chevron-down"></a>
                    <a href="javascript:;" class="icon-remove"></a>
                    </span>
                </div>
                <div class="widget-body">

            <form action="{{NeuralRutasApp.RutaURL}}Cliente/ModificarContacto" class="form-horizontal" id="FORM" name="FORM" method="POST">

                    <div class="control-group">
                                <label class="control-label">Alias</label>
                                <div class="controls">
                                    <input id="Alias" name="Alias" type="text" class="span12" placeholder="Alias" required="" value="{{Arre.0}}"/>
                                </div>
                    </div>
                    <div class="control-group">
                                <label class="control-label">Nombre Fiscal</label>
                                <div class="controls">
                                    <input id="Nombres" name="Nombres" type="text" class="span12" placeholder="Nombres" required="" value="{{Arre.1}}"/>
                                </div>
                    </div>
                    <div class="control-group">
                                <label class="control-label">Direccion</label>
                                <div class="controls">
                                    <input id="Direccion" name="Direccion" type="text" class="span12" placeholder="Direccion" required="" value="{{Arre.2}}"/>
                                </div>
                    </div>
                    <div class="control-group">
                                <label class="control-label">Telefono</label>
                                <div class="controls">
                                    <input id="Telefono" name="Telefono" type="text" class="span12" placeholder="Telefono" value="{{Arre.3}}"/>
                                </div>
                    </div>
                    <div class="control-group">
                                <label class="control-label">Correo</label>
                                <div class="controls">
                                    <input id="Correo" name="Correo" type="text" class="span12" placeholder="Correo" required="" value="{{Arre.4}}"/>
                                </div>
                    </div>
                    <div class="control-group">
                                <label class="control-label">Ciudad</label>
                                <div class="controls">
                                    <input id="Ciudad" name="Ciudad" type="text" class="span12" placeholder="Ciudad" required="" value="{{Arre.5}}"/>
                                </div>
                    </div>
                    <div class="control-group">
                                <label class="control-label">Codigo Postal</label>
                                <div class="controls">
                                    <input id="CP" name="CP" type="text" class="span12" placeholder="Codigo Postal" required="" value="{{Arre.6}}"/>
                                </div>
                    </div>
                    <div class="control-group">
                                <label class="control-label">RFC</label>
                                <div class="controls">
                                    <input id="RFC" name="RFC" type="text" class="span12" placeholder="RFC" required="" value="{{Arre.7}}"/>
                                </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Municipio</label>
                        <div class="controls">
                            <select id="Municipio" name="Municipio" class="span12 " data-placeholder="Escoja el municipio" tabindex="1">
                                <option value="{{Arre.8}}">{{Arre.9}}</option>
                                {%for ar in Muni %}
                                    <option value="{{ar.0}}">{{ar.1}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Cliente</label>
                        <div class="controls">
                            <select id="Cliente" name="Cliente" class="span12 " data-placeholder="Escoja el cliente" tabindex="1">
                                <option value="{{Arre.10}}">{{Arre.11}}</option>
                                {%for arr in Clien %}
                                    <option value="{{arr.5}}">{{arr.0}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="Id" name="Id" value="{{Id}}" />
                    <div class="form-actions">
                                <center>
                                <button type="submit" class="btn-large btn-success">Aceptar</button>
                                <button type="button" class="btn-large btn-danger">Cancel</button>
                                </center>
                    </div>
            </form>
</div>
</div>

<script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}bootstrap-inputmask.min.js"></script>
</div>
</div>
</div>
{% endblock Contenido %}


{{Script|raw}} 
