{% include 'General/Base.html' %}
{% block Contenido %}


<script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}bootstrap-inputmask.min.js"></script>
<style>
    input {
        text-transform: capitalize;
    }
    h4{
    	text-transform: capitalize;
    }
</style>
<div class="container-fluid">
<div class="row-fluid">
<div class="span12">




<div class="widget purple">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> modificar cliente </h4>
                    <span class="tools">
                    <a href="javascript:;" class="icon-chevron-down"></a>
                    <a href="javascript:;" class="icon-remove"></a>
                    </span>
                </div>
                <div class="widget-body">

            <form action="{{NeuralRutasApp.RutaURL}}Cliente/Modificar" class="form-horizontal" id="FORM" name="FORM" method="POST">
                    <input type="hidden" id="Id" name="Id" value="{{Id}}" />
                    <div class="control-group">
                                <label class="control-label">Nombres</label>
                                <div class="controls">
                                    <input id="Nombres" name="Nombres" type="text" class="span12" placeholder="Nombres" required="" value="{{Arre.0}}"/>
                                </div>
                    </div>
                    <div class="control-group">
                                <label class="control-label">Telefono</label>
                                <div class="controls">
                                    <input id="Telefono" name="Telefono" type="text" class="span12" placeholder="Telefono" value="{{Arre.1}}"/>
                                </div>
                    </div>
                    <div class="control-group">
                                <label class="control-label">Celular</label>
                                <div class="controls">
                                    <input id="Celular" name="Celular" type="text" class="span12" placeholder="Celular" value="{{Arre.2}}"/>
                                </div>
                    </div>
                    <div class="control-group">
                                <label class="control-label">Correo</label>
                                <div class="controls">
                                    <input id="Correo" name="Correo" type="text" class="span12" placeholder="Correo" required="" value="{{Arre.3}}"/>
                                </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Estatus</label>
                        <div class="controls">
                            <select id="Status" name="Status" class="span12 " data-placeholder="Escoja el cargo" tabindex="1">
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-actions">
                                <center>
                                <button type="submit" class="btn-large btn-success">Aceptar</button>
                                <button type="button" class="btn-large btn-danger" onclick="history.back()">Cancel</button>
                                </center>
                    </div>
            </form>
</div>
</div>

<script type="text/javascript" src="{{NeuralRutasApp.RutaJs}}bootstrap-inputmask.min.js"></script>
</div>
</div>
</div>
{% endblock Contenido %}


{{Script|raw}} 
