{% include 'General/Base.html' %}
{% block Contenido %}
<script language="javascript">
		function doSearch(){
			var tableReg = document.getElementById('datos');
			var searchText = document.getElementById('searchTerm').value.toLowerCase();
			var cellsOfRow="";			var found=false;			var compareWith="";
			// Recorremos todas las filas con contenido de la tabla
			for (var i = 1; i < tableReg.rows.length; i++){
				cellsOfRow = tableReg.rows[i].getElementsByTagName('td');				found = false;
				// Recorremos todas las celdas
				for (var j = 0; j < cellsOfRow.length && !found; j++){
					compareWith = cellsOfRow[j].innerHTML.toLowerCase();
					// Buscamos el texto en el contenido de la celda
					if (searchText.length == 0 || (compareWith.indexOf(searchText) > -1)){	found = true;}
				}
				if(found){tableReg.rows[i].style.display = '';
				} else {
					// si no ha encontrado ninguna coincidencia, esconde la fila de la tabla
					tableReg.rows[i].style.display = 'none';
				}
			}
		}
	</script>
<style>
	th{
		text-transform: uppercase;
	}
	h4{
		text-transform: uppercase;
	}
	html { font-size: 52.5%; }
	body { width:100%;font-size: 14px; font-size: 1.4rem; } /* =14px */
	h1   { font-size: 24px; font-size: 2.4rem; }
    
</style>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span15">
            
            
            <br />
                 <form>
                    <i class="icon-search"></i> BUSCAR  <input class="input-xxlarge" id="searchTerm" type="text" onkeyup="doSearch()" />
                    </form>
            
        <div class="widget purple">
        <div class="widget-title">
            <h4><i class="icon-reorder"></i> Registro de contactos</h4>
            <span class="tools">
                <a href="javascript:;" class="icon-chevron-down"></a>
                <a href="javascript:;" class="icon-remove"></a>
            </span>
        </div>
        <div class="widget-body">
            <div>
                
                    <table id="datos" class="table table-striped table-hover table-bordered" id="editable-sample">
                        <thead>
                            <tr>
                                <th>Alias</th>
                                <th>Nombre Fiscal</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th>Correo</th>
                                <th>Ciudad</th>
                                <th>CP</th>
                                <th>RFC</th>
                                <th>Municipio</th>
                                <th>Cliente</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for Arre in reg %}
                            <tr class="">
                                <td>{{Arre.0}}</td>
                                <td>{{Arre.1}}</td>
                                <td>{{Arre.2}}</td>
                                <td>{{Arre.3}}</td>
                                <td>{{Arre.4}}</td>
                                <td>{{Arre.5}}</td>
                                <td>{{Arre.6}}</td>
                                <td>{{Arre.7}}</td>
                                <td>{{Arre.8}}</td>
                                <td>{{Arre.9}}</td>
                                <td class="center">
                                    <a href= "{{NeuralRutasApp.RutaURL}}Cliente/MostrarModificarContacto/{{Arre.10}}"><i class="icon-edit"></i> Modificar</a>
                                    <!--<a href= "{{NeuralRutasApp.RutaURL}}Cliente/MostrarEliminarContacto/{{Arre.5}}"><i class="icon-male"></i> Eliminar</a>-->
                                </td>
                                
                                
                                
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock Contenido %}