<!DOCTYPE html>
<html lang="es">
    <head>
        <style>img {display: block; margin: 0 auto;} </style>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="SEGURO">
        <meta name="author" content="GeeksLabs">
        <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal"/>
        <link rel="shortcut icon" type="image/x-icon" href="{{NeuralRutasApp.RutaPublico}}Login/img/logo.png"/>
        <title>JIGASOFT</title> 
        <link href="{{NeuralRutasApp.RutaPublico}}Login/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{NeuralRutasApp.RutaPublico}}Login/css/bootstrap-theme.css" rel="stylesheet">
        <link href="{{NeuralRutasApp.RutaPublico}}Login/css/elegant-icons-style.css" rel="stylesheet" />
        <link href="{{NeuralRutasApp.RutaPublico}}Login/css/font-awesome.css" rel="stylesheet" />
        <link href="{{NeuralRutasApp.RutaPublico}}Login/css/style.css" rel="stylesheet">
        <link href="{{NeuralRutasApp.RutaPublico}}Login/css/style-responsive.css" rel="stylesheet" />
    </head>
    <style>
	html,
body {
	height: 100%;
	width:100%;
	margin: auto; padding: 0; 
background: url('{{NeuralRutasApp.RutaPublico}}Login/img/bg-13.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

  img{
  	width: 50%;
  	height: 50%;
  }
	</style>

    <body >  
        
        <div class="container">
        <table>
			<head>
			<tr>
			<img src="{{NeuralRutasApp.RutaPublico}}Login/img/logo_jg.png" />
			</tr>
			<tr>


            <form method="POST" id="Form" name="Form" class="login-form" action="{{NeuralRutasApp.RutaURL}}Login/Verificacion" id="login-form" >        
                <div class="login-wrap">
                    <p class="login-img"><i class="icon_lock_alt"></i></p>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon_profile"></i></span>
                        <input type="text" id="Usuario" name="Usuario" class="form-control" placeholder="Usuario" required>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                        <input id="Password" name="Password" type="password" class="form-control" placeholder="Password" required>
                    </div>
                    <label class="checkbox">
                        <!--<input type="checkbox" value="remember-me"> Remember me -->
                        <span class="pull-right"> <a href="{{NeuralRutasApp.RutaURL}}Recuperacion/MostrarRecuperacion"> ¿Olvidó su contraseña?</a></span>
                    </label>
                    <!--  <input type="hidden" id="Validar" name="Validar" value="{{Validar}}" /> -->
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Iniciar sección</button>
                    <!-- <button class="btn btn-info btn-lg btn-block" type="submit">Registrarse</button> -->
                </div>
            </form>
            			</tr>
			</head>
		</table>
            
        </div>
    
    
    
    
    
    

    
        <script src="{{NeuralRutasApp.RutaPublico}}Login/assets/plugins/core/pace/pace.min.js"></script>
        <!-- Important javascript libs(put in all pages) -->
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script>
        window.jQuery || document.write('<script src="assets/js/libs/jquery-2.1.1.min.js">\x3C/script>')
        </script>
        <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script>
        window.jQuery || document.write('<script src="assets/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
        </script>
        <!--[if lt IE 9]>
        <script type="text/javascript" src="assets/js/libs/excanvas.min.js"></script>
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script type="text/javascript" src="assets/js/libs/respond.min.js"></script>
        <![endif]-->
        <!-- Bootstrap plugins -->
        <script src="assets/js/bootstrap/bootstrap.js"></script>
        <!-- Form plugins -->
        <script src="{{NeuralRutasApp.RutaPublico}}Login/js/jquery.icheck.js"></script>
        <script src="{{NeuralRutasApp.RutaPublico}}Login/js/jquery.validate.js"></script>
        <script src="{{NeuralRutasApp.RutaPublico}}Login/js/additional-methods.min.js"></script>
        <!-- Init plugins olny for this page -->
        <script src="{{NeuralRutasApp.RutaPublico}}Login/js/login.js"></script>
        
    </body>
    
</html>