<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>JIGASOFT</title>
<link href="{{NeuralRutasApp.RutaCss}}bootstrap.min.css" rel="stylesheet">
<link href="{{NeuralRutasApp.RutaCss}}datepicker3.css" rel="stylesheet">
<link href="{{NeuralRutasApp.RutaCss}}styles.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">Iniciar sessión</div>
				<div class="panel-body">
					<form role="form">
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="Usuario" name="u" type="u" autofocus="">
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Contraseña" name="p" type="password" autofocus="" value="0">
							</div>
                            <!--                            
							<div class="checkbox">
								<label>
									<input name="remember" type="checkbox" value="Remember Me">Remember Me
								</label>
							</div>-->
							<a href="{{NeuralRutasApp.RutaURL}}L/MG" class="btn btn-primary">Iniciar sesión</a>
						</fieldset>
					</form>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->			
	<script src="{{NeuralRutasApp.RutaJs}}jquery-1.11.1.min.js"></script>
	<script src="{{NeuralRutasApp.RutaJs}}bootstrap.min.js"></script>
	<script src="{{NeuralRutasApp.RutaJs}}chart.min.js"></script>
	<script src="{{NeuralRutasApp.RutaJs}}chart-data.js"></script>
	<script src="{{NeuralRutasApp.RutaJs}}easypiechart.js"></script>
	<script src="{{NeuralRutasApp.RutaJs}}easypiechart-data.js"></script>
	<script src="{{NeuralRutasApp.RutaJs}}bootstrap-datepicker.js"></script>
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
</body>
</html>
