{% include 'General/Base.html' %}
        {% block Contenido %}
            <!-- BEGIN EDITABLE TABLE widget-->
            <div class="container-fluid">
             <div class="row-fluid">
                 <div class="span12">
                     <!-- BEGIN EXAMPLE TABLE widget-->
                     <div class="widget green">
                         <div class="widget-title">
                            
                             <h4><center><i class="icon-thumbs-up"></i> Bienvenido</center></h4>
                            
                         </div>
                         <div class="widget-body">
                             <div>
        
                                 <div class="space15"></div>
                                 <center>
                                 <h1> ¡ Bienvenido a JIGASOFT {{Usuario}}! </h1>
                                 <h3>Sistema De Apoyo De Venta De La Empresa Jigasoft</h3>
                                 </center>
                             </div>
                         </div>
                     </div>
                     <!-- END EXAMPLE TABLE widget-->
                 </div>
             </div>
        {% endblock Contenido %}
