<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
   <meta charset="utf-8" />
   <title>Error en el login</title>
   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta content="" name="description" />
   <meta content="" name="author" />
   <link rel="shortcut icon" type="image/x-icon" href="{{NeuralRutasApp.RutaPublico}}img/logo_sp.png"/>
   <link href="{{NeuralRutasApp.RutaCss}}assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
   <link href="{{NeuralRutasApp.RutaCss}}assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
   <link href="{{NeuralRutasApp.RutaCss}}assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
   <link href="{{NeuralRutasApp.RutaCss}}style.css" rel="stylesheet" />
   <link href="{{NeuralRutasApp.RutaCss}}style-responsive.css" rel="stylesheet" />
   <link href="{{NeuralRutasApp.RutaCss}}style-default.css" rel="stylesheet" id="style_color" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="error-500">
    <div class="error-wrap">
        <h1>Ouch a ocurrido un error!</h1>
        <h2>El usuario o contraseña son incorrectos.</h2>
        <h2>Por favor verifique que estos sean correctos.</h2>
        <div class="metro green">
           <span> 5 </span>
        </div>
        <div class="metro yellow">
            <span> 0 </span>
        </div>
        <div class="metro purple">
            <span> 0 </span>
        </div>
        <p>Si tiene algún problema <a href="javascript:;">contacte</a> al administrador . <a href="{{NeuralRutasApp.RutaURL}}"> Regresar a inicio de sesión </a></p>
    </div>
</body>
<!-- END BODY -->
</html>